/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header{
    font-size:60px;
     text-align:center;
     margin-top: 15px;
     margin-bottom: 20px;
     border-bottom:5px solid 	#FF8282;
  }
  .warp{
    display:flex;
    font-size:30px;
    border-bottom:5px solid  #FF8282;
  }
  . warp pen{
    display:inline-block;
  }
  .content{
    border:3px solid #FF6363;
    margin: 70px;
    width: 1600px;
    height: 2800px;
  }
  .content h2{
     justify-content: space-between;
     text-align:center;
     font-size:50px;
     border:3px solid #FF6363;
     padding: 25px;

  }
  .cap{
    
    border:2px solid #FF6363;
    width: 900px;
    height: 600px;
    position:absolute;
    top:450px;
    right:350px;
  }
  .cap h2{
    font-size:30px;
    background:#FF6363;
    font-weight:bold;
  }
  .cap form{
    width: 300px;
    text-align:centet;
    font-size:30px;
    padding-top: 170px;
    padding-left: 700px;
    white-space: pre-wrap;
    }
  .roo{
     text-align:centet;
      padding-left: 750px;
      position:absolute;
      bottom:-220px;
  }
  .login p{
    font-size:20px;
    font-weight:bold;
    position:absolute;
    top:420px;
    right:20px;
  }
  .login img{
    width: 70px;
    height: 70px;
    position:absolute;
    top:330px;
    right:10px;
  }
  .com{
    position:absolute;
    top:-130px;
    right:530px;
  }
  .cill h2{
    width: 800px;
    height: 50px;
    text-align:center;
    font-size:40px;
    border:3px solid #FF6363;
    border-bottom:3px solid #FF6363;
    position:absolute;
    top:1200px;
    right:450px;
  }
  .cill h3{
    width: 800px;
    height: 30px;
    font-size:20px;
    border:3px solid #FF6363;
    position:absolute;
    top:1350px;
    right:450px;
  }
  .cill p{
    width: 800px;
    height: 180px;
    line-height:180px;
    font-size:40px;
    border:3px solid #FF6363;
    position:absolute;
    top:1200px;
    right:450px;
  }
  .lil{
    width: 800px;
    height: 50px;
    font-size:40px;
    border:3px solid #FF6363;
    position:absolute;
    top:1450px;
    right:450px;
  }
  .lil h2{
    width: 800px;
    height: 50px;
    text-align:center;
    font-size:40px;
    position:absolute;
    top:9px;
    right:30px;
  }
  .lil p{
    width: 800px;
    height: 180px;
    line-height:180px;
    font-size:40px;
    border:3px solid #FF6363;
    position:absolute;
    top:50px;
    right:-2px;
  }
  .lil h3{
    width: 800px;
    height: 30px;
    font-size:20px;
    border:3px solid #FF6363;
    position:absolute;
    top:200px;
    right:-3px;
  }
  .coo{
    width: 800px;
    height: 50px;
    font-size:40px;
    border:3px solid #FF6363;
    position:absolute;
    top:1750px;
    right:450px;
  }
  .coo h2{
    width: 800px;
    height: 50px;
    text-align:center;
    font-size:40px;
    position:absolute;
    top:9px;
    right:30px;
  }
  .coo p{
    width: 800px;
    height: 180px;
    line-height:180px;
    font-size:40px;
    border:3px solid #FF6363;
    position:absolute;
    top:50px;
    right:-2px;
  }
  .coo h3{
    width: 800px;
    height: 30px;
    font-size:20px;
    border:3px solid #FF6363;
    position:absolute;
    top:200px;
    right:-3px;
  }
  .poo{
    width: 800px;
    height: 50px;
    font-size:40px;
    border:3px solid #FF6363;
    position:absolute;
    top:2050px;
    right:450px;
  }
  .poo h2{
    width: 800px;
    height: 50px;
    text-align:center;
    font-size:40px;
    position:absolute;
    top:9px;
    right:30px;
  }
  .poo p{
    width: 800px;
    height: 180px;
    line-height:180px;
    font-size:40px;
    border:3px solid #FF6363;
    position:absolute;
    top:50px;
    right:-2px;
  }
  .poo h3{
    width: 800px;
    height: 30px;
    font-size:20px;
    border:3px solid #FF6363;
    position:absolute;
    top:200px;
    right:-3px;
  }
  .nini{
    width: 800px;
    height: 50px;
    font-size:40px;
    border:3px solid #FF6363;
    position:absolute;
    top:2350px;
    right:450px;
  }
  .nini h2{
    width: 800px;
    height: 50px;
    text-align:center;
    font-size:40px;
    position:absolute;
    top:9px;
    right:30px;
  }
  .nini p{
    width: 800px;
    height: 180px;
    line-height:180px;
    font-size:40px;
    border:3px solid #FF6363;
    position:absolute;
    top:50px;
    right:-2px;
  }
  .nini h3{
    width: 800px;
    height: 30px;
    font-size:20px;
    border:3px solid #FF6363;
    position:absolute;
    top:200px;
    right:-3px;
  }
  .vivi{
    width: 800px;
    height: 50px;
    font-size:40px;
    border:3px solid #FF6363;
    position:absolute;
    top:2650px;
    right:450px;
  }
  .vivi h2{
    width: 800px;
    height: 50px;
    text-align:center;
    font-size:40px;
    position:absolute;
    top:9px;
    right:30px;
  }
  .vivi p{
    width: 800px;
    height: 180px;
    line-height:180px;
    font-size:40px;
    border:3px solid #FF6363;
    position:absolute;
    top:50px;
    right:-2px;
  }
  .vivi h3{
    width: 800px;
    height: 30px;
    font-size:20px;
    border:3px solid #FF6363;
    position:absolute;
    top:200px;
    right:-3px;
  }