/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.header{
	 width: 1600px;
	 font-size:60px;
	 text-align:center;
	 margin-top: 15px;
	 margin-bottom: 15px;
	 border-bottom:3px solid 	#FF8282;
  }
  .header h1{
    margin-left: 90px;
  }
  .warp{
	display:flex;
	font-size:30px;
	border-bottom:3px solid  #FF8282;
  }
  . warp pen{
	display:inline-block;
  }
  .content{
	border:3px solid #FF6363;
	margin: 70px;
	width: 1600px;
	height: 1000px;
  }
  .content h2{
	 justify-content: space-between;
	 text-align:center;
	 font-size:50px;
	 border:3px solid #FF6363;
	 padding: 25px;
  }
  .cap{
	border:2px solid #FF6363;
	margin: 50px;
	height: 800px;
  }
  .cap h2{
	font-size:30px;
	background:#FF6363;
	font-weight:bold;
  }
  .cap form{
	width: 200px;
	text-align:centet;
	font-size:30px;
	padding-top: 80px;
	padding-left: 600px;
	white-space: pre-wrap;
	}
  .cap span{
	 diaplay:flex;
  }
  .roo{
	 text-align:centet;
	  padding-left: 70px;
  }
  .sign p{
	font-size:20px;
	font-weight:bold;
	position:absolute;
	top:600px;
	right:125px;
  }
  .sign img{
	width: 90px;
	height: 90px;
	position:absolute;
	top:500px;
	right:100px;
  }
  .login p{
	font-size:20px;
	font-weight:bold;
	position:absolute;
	top:600px;
	right:20px;
  }
  .login img{
	width: 70px;
	height: 70px;
	position:absolute;
	top:510px;
	right:20px;
  }